.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #003973;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgb(184, 184, 152), #011f3d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgb(177, 177, 144), #002549); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  
}

.headline{
    font-size: 95px;
    font-family: Besteam-Font;
    color:#EAF0F1;
    position: absolute;
    top: 0em;
    }